.info{
    display:flex;
    position: relative;
    width:29vw;
    top: 10px;
    left: 25px;
    min-height:40vh;
    background:#5746EA;
    border-radius:12px;
    padding:6px;
    gap:12px;
}
.img{
    height:38vh;
    width:8vw;
    position:relative;
    top:2vh;
}
.CategoryButton{
    border-radius:12px;
    width:100px;
    color:white;
    border:none;
    padding:6px;
    height:30px;
    flex-shrink:0;
    margin:10px;
}
.info-more{
    display:flex;
    flex-direction:column;
    gap:12px;
}
#name{
    color:white;
    font-size:2rem;
}
#mail{
    color:white;
    font-size:2rem
}
#username{
    color:white;
    font-size:3rem
}

