.Weather-deatils{
    margin-bottom:12px;
    font-size:24px;
    margin-top:10px;
}
#Weather-container{
    position: relative;
    top: 15px;
    display:flex;
    color:white;
    align-items:center;
    justify-content:space-evenly;
    font-size: 20px;
    
}
.Weather-data{
    height:7vh;
    background:#FF4ADE;
    border-radius:12px;
    color:white;
    display:flex;
    justify-content:space-evenly;
    align-items:center ;
    font-size:2rem;
}
.Weather-main{
    position: relative;
    top: 40px;
    left: 27px;
    width:30vw;
    min-height:20vh;
    background:#101744;
    border-radius:12px;
    margin-top:5px;
}
#W-img{
    width:30px;
    height:20px
}